package eu.gricom.basic;

import eu.gricom.basic.codeGenerator.Generator;
import eu.gricom.basic.helper.Printer;
import eu.gricom.basic.helper.Logger;
import eu.gricom.basic.memoryManager.Program;

public class Basic {

    private final String strJSONProgram = "";

    /**
     * Runs the interpreter as a command-line app. Takes one argument: a path
     * to a script file to load and run. The script should contain one
     * statement per line.
     *
     * @param args Command-line arguments.
     */
    public static void main(final String[] args) {
        Logger oLogger = new Logger("main");
        String strProgramName = args[0];
        Program oProgram = new Program();
        oLogger.setLogLevel("");

        oProgram = Generator.createProgram(strJSONProgram);

        Printer.println();
        Printer.println("   _____ _____             ____            _    ");
        Printer.println("  / ____|  __ \\           |  _ \\          (_)        GriCom Basic Compiler Version 0.1.0");
        Printer.println(" | |  __| |  | |  ______  | |_) | __ _ ___ _  ___    (c) Copyright A.Grimm 2025");
        Printer.println(" | | |_ | |  | | |______| |  _ < / _` / __| |/ __|   ");
        Printer.println(" | |__| | |__| |          | |_) | (_| \\__ \\ | (__    Program name: " + strProgramName);
        Printer.println("  \\_____|_____/           |____/ \\__,_|___/_|\\___|   ");
        Printer.println();

        // Run.
        Execute oRun = new Execute(oProgram);

        // load the environment for the execution
        oRun.loadEnvironment();

        // run the program
        oRun.runProgram();

        System.exit(0);
    }
}
